@model Invoice_v1._0.Models.DaneDoFaktury

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table>
    <td>
        <h3>
            Dane do faktury
        </h3>
        <blockquote>
            <p>     
                <strong>Imię i nazwisko: </strong>@Html.DisplayFor(m => m.Name) @Html.DisplayFor(m => m.Surname)
                    
            </p>
            <p>
                <strong>Ulica: </strong>@Html.DisplayFor(m => m.Street) @Html.DisplayFor(m => m.NumberOfAddress)
            </p>
            <p>
                <strong>Miasto: </strong>@Html.DisplayFor(m => m.City)
            </p>
        </blockquote>
    </td>
</table>

<table class="table">
    <h4>
        Zamówienie
    </h4>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amounts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceForOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Model.Product
        </td>
        <td>
            @Model.Amounts
        </td>
        <td>
            @Model.PriceForOne
        </td>
        <td>
            @Model.Date
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
        </td>
    </tr>
</table>
<table>
    <tr>
        <strong>Total Price: </strong>@Model.TotalPrice
    </tr>
</table>
